<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="PgvLangBuilder"
         name="PhpGedView Language Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.phpgedview.pgv_lang.builder.PgvLangBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="PgvLangNature"
         name="PhpGedView Language Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.phpgedview.pgv_lang.builder.PgvLangNature">
         </run>
      </runtime>
      <builder
            id="net.phpgedview.pgv_lang.PgvLangBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="net.phpgedview.pgv_lang.contribution1">
         <action
               label="Add/Remove PGVLang Nature"
               class="net.phpgedview.pgv_lang.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="net.phpgedview.pgv_lang.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="pgvLangProblem"
         name="PGV Lang Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
