/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package PhpGedView
 * @subpackage Themes
 * @version $Id: style_rtl.css,v 1.3.2.3 2005/10/31 10:30:42 opus27 Exp $
 */
.something {
/*empty style to make sure that the BODY style is not ignored */
}
body {
	direction: rtl;
	text-align: right;
}
.door {
	direction: rtl;
}
.door dd {
	float: right;
}
#header2 {
	position: absolute;
	right: 1px;
	top 1px;
	left: auto;
	width: 170px;
	height: 565px;
	z-index: 2;
	height: 500px;
	border: outset #98753D 3px;
	background-image: url("11wy10.jpg");
}
#content {
	position: absolute;
	right: 180px;
	left: auto;
	width: 80%;
	z-index: 1;
}
#footer {
	position: absolute;
	top: 570px;
	right: 1px;
	left: auto;
	width: 170px;
	border: outset #98753D 3px;
	background-image: url("11wy10.jpg");
	color: white;
	font-family: times, times new roman, serif;
	font-size: 12px;
}
#footer * {
	color: white;
}
#index_main_blocks {
	clear: none;
	width: 69%;
	float: left;
}
#index_small_blocks {
	clear: none;
	width: 30%;
	float: right;
}
