/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package PhpGedView
 * @subpackage Themes
 * @version $Id: style_rtl.css,v 1.1.2.6 2005/10/31 10:27:18 opus27 Exp $
 */
body {
	direction: rtl;
	text-align: right;
}
html {
	direction: rtl;
	whitespace: normal;
}
#footer {
	text-align: center;
}
.person_box, .person_boxF, .person_boxNN {
	text-align: right;
}
.footer {
	text-align: left;
	direction: rtl;
}
.image {
	margin-right: 0px;
	margin-left: 15px;
}
#header {
	width: 100%;
	text-align: right;
	direction: rtl;
	caption-side: left;
	display: table;
}
#index_main_blocks .blockhc {
	direction: rtl;
}
#index_small_blocks .blockh2 {
	direction: rtl;
}
.door {
	direction: rtl;
}
.door dd {
	float: right;
}
