/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package PhpGedView
 * @subpackage Themes
 * @version $Id$
 */
body {
	direction: rtl;
	text-align: right;
}
html {
	direction: rtl;
	white-space: normal;
}
#footer {
	text-align: center;
}
.person_box, .person_boxF, .person_boxNN {
	text-align: right;
}
.footer {
	text-align: left;
	direction: rtl;
}
.image {
	margin-right: 0px;
	margin-left: 15px;
}
#header {
	width: 100%;
	text-align: right;
	direction: rtl;
	caption-side: left;
	display: table;
}
.blockh1 {
	background-image: url(images/right3.gif);
	width: 6px;
}
.blockh3 {
	background-image: url(images/right1B.gif);
	width: 28px;
}
.blockhc {
	padding-left: 15px;
	padding-right: 5px;
}
.blockh2, .blockhc, .door {
	direction: rtl;
}
.door dd {
	float: right;
}

.icon, .adminicon {
	border: none;
	padding-left: 5pt;
	padding-right: 0pt;
}
